<!DOCTYPE html>
<html>

<head>
    <title>Mini roulette</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mini roulette</a>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h2>Welcome to the game!</h2>

        <br/>

        <div class="col-sm-10">
            <button id="bth-bet" class="btn btn-primary btn-lg">Bet</button>
        </div>

        <br/>
        <br/>
        <br/>

        <h3>Your balance</h3>
        <div class="h4" id="balance"></div>

        <br/>

        <h3>History</h3>
        <div id="messages"></div>

    </div>

</div>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#bth-bet")
            .click(function () {
                $.get("/api/bid");
            })
            .mouseup(function () {
                this.blur()
            });

        const eventSource = new EventSource('http://localhost:8080/api/sse');
        eventSource.onmessage = e => {
            $("#messages").prepend("<p>" + e.data + "</p>");
            console.log(e.data);
        };

        eventSource.onopen = () => console.log('open');
        eventSource.onerror = e => {
            if (e.readyState === EventSource.CLOSED) {
                console.log('close');
            }
            else {
                console.log(e);
            }
        };

        eventSource.addEventListener('balanceChanged', function (e) {
            console.log('balanceChanged', e.data);
            const resp = JSON.parse(e.data);
            if (resp.balance) {
                $("#balance").html(resp.balance);
            }
            if (resp.message) {
                $("#messages").prepend("<p>" + resp.message + "</p>");
            }
        }, false);

    });
</script>

</body>
</html>